[user]
    name = Kevin Sapper
    email = mail@kevinsapper.de
[url "https://"]
    insteadOf = git://
[http]
    sslverify = true
[core]
    editor = vim
    pager = less -x4
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[merge]
    tool = vimdiff
[rebase]
    autosquash = true
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --numstat
